.all{
  background-color:rgb(254, 249, 246) ;
}
.second{
  background-color: rgb(254, 249, 246);
  justify-content: center;
  text-align: center;
}
.tex{
  color: rgb(57,57,58);
}
.one-card   .tee{
  background-color: rgb(221,244,228);
}
.one-car .teee{
  background-color: rgb(204,234,253);
}

.second h6{
  background-color: rgb(229, 230, 231);
  border-radius: 20px;
  width: 15rem;
  height: 2rem;
  margin-left: 40%;
  
  text-align: center;
}
.second h1{
 margin-bottom: 10rem;
}
.row{
  background-color:rgb(254, 249, 246);
}
.one-card{
  
  background-color:rgb(254, 249, 246) ;
  border: none;
}
.one-card h6{
  background-color: rgb(247, 201, 142);
  width: 25rem;
  height: 3rem;
  text-align: center;
  border-radius: 30px;
  font-size: 2rem;
}
.one-card .tittle{
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 5rem;
}
.one-card .p{
  font-size: 2rem;
  color: gray;
}
.card-buttom{
  background-color: rgb(37, 34, 34);
  color: white;
  width: 30rem;
  height: 5rem;
  border-radius: 30px 0px 30px 0px ;
  margin-left: 5rem;
}
.card-buttom h5{
  margin-bottom: -10px;
}
.img{
  width: 5rem;
}
.one-car{
  
  background-color:rgb(254, 249, 246) ;
  border: none;
}
.one-car .te{
  background-color:rgb(253,222,214);
  width: 25rem;
  height: 3rem;
  text-align: center;
  border-radius: 30px;
  font-size: 2rem;
}
.one-car .tittl{
  
  font-weight: 500;
  margin-bottom: 5rem;
}

.one-car .pp{
  
  color: gray;
}
.card-butto{
  background-color: rgb(37, 34, 34);
  color: white;
  width: 30rem;
  height: 10rem;
  border-radius: 0px 30px 0px 30px ;
  margin-left: 5rem;
}
.card-butto h5{
  padding:20px;

}
.card-butto h3{
  padding:20px;
}
.imgg{
  width: 5rem;
  margin-left: 34rem;
}


/* Media queries for responsiveness */
@media (max-width: 576px) {
  .one-card{
  
    background-color:rgb(254, 249, 246) ;
    border: none;
  }
  .one-card h6{
    background-color: rgb(247, 201, 142);
    width: 300px;
    height: 3rem;
    text-align: center;
    border-radius: 30px;
    font-size: 29px;
  }
  .one-card .tittle{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
  }
  .one-card .p{
    font-size: 1rem;
    color: gray;
  }
  .card-buttom{
    background-color: rgb(37, 34, 34);
    color: white;
    width: 324px;
    height: 10rem;
    border-radius: 30px 0px 30px 0px;
    margin-left: 4rem;
  }
  .card-buttom h5{
    padding:10px;
  
  }
  .card-buttom h3{
    padding:20px;
  }
  .img{
    width: 5rem;
  }
  .one-car{
    
    background-color:rgb(254, 249, 246) ;
    border: none;
  }
  .one-car h6{
    background-color: rgb(247, 201, 142);
    width: 18rem;
    height: 2rem;
    text-align: center;
    border-radius: 30px;
    font-size: 26px;
  }
  .one-car .tittl{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .one-car .pp{
    font-size: 1rem;
    color: gray;
  }
  .card-butto{
    background-color: rgb(37, 34, 34);
    color: white;
    width: 30rem;
    height: 10rem;
    border-radius: 0px 30px 0px 30px ;
   
  }
  .card-butto h5{
    padding:10px;
  
  }
  .card-butto h3{
    padding:20px;
  }
  .imgg{
    width: 5rem;
    margin-left: 34rem;
  }
  
}

@media (min-width: 768px) {
  .one-card{
  
    background-color:rgb(254, 249, 246) ;
    border: none;
  }
  .one-card h6{
    background-color: rgb(247, 201, 142);
    width: 25rem;
    height: 3rem;
    text-align: center;
    border-radius: 30px;
    font-size: 2rem;
  }
  .one-card .tittle{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 5rem;
  }
  .one-card .p{
    font-size: 2rem;
    color: gray;
  }
  .card-buttom{
    background-color: rgb(37, 34, 34);
    color: white;
    width: 30rem;
    height: 10rem;
    border-radius: 30px 0px 30px 0px ;
    margin-left: 5rem;
  }
  .card-buttom h5{
    padding:20px;
  
  }
  .card-buttom h3{
    padding:20px;
  }
  .img{
    width: 5rem;
  }
  .one-car{
    
    background-color:rgb(254, 249, 246) ;
    border: none;
  }
  .one-car h6{
    background-color: rgb(247, 201, 142);
    width: 25rem;
    height: 3rem;
    text-align: center;
    border-radius: 30px;
    font-size: 2rem;
  }
  .one-car .tittl{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 5rem;
  }
  .one-car .pp{
    font-size: 2rem;
    color: gray;
  }
  .card-butto{
    background-color: rgb(37, 34, 34);
    color: white;
    width: 30rem;
    height: 10rem;
    border-radius: 0px 30px 0px 30px ;
    margin-left: 5rem;
  }
  .card-butto h5{
    padding:20px;
  
  }
  .card-butto h3{
    padding:20px;
  }
  .imgg{
    width: 5rem;
    margin-left: 34rem;
  }
  
}

/* Add more media queries as needed for larger screen sizes */
